.wrapper {
    width: 100%;
    height: 96vh;
    /* overflow: auto; */
    background-color: #f7f7ff;
    border-radius: 12px;
    position: relative;
  }
  
  .container {
    padding-left: 3.4rem;
  }
  .fst {
    color: #000;
  
  }
  div h3 {
    font-weight: 700;
    font-size: 1.3rem;
  }

  div .md {
    color: #ff4081;
  }
  
  .mat-form-field {
    color: #95959a;
    margin-right: 4rem;
  }
  
  .mat-slide-toggle {
    color: #95959a;
  }
  
  /* .mat-card {
    max-width: 650px;
  } */
  
  figure {
    position: absolute;
    top: 16rem;
  }
  
  /* .mat-card-title, .mat-card-subtitle {
    margin-left: 4.8rem;
  } */
  
  img {
    /* width: 5rem; */
    border: 3px solid #ff4081;
    padding: 1px;
    border-radius: 60%;
  }

  div .content {
      color: #000;
      position: absolute;
      top: 16rem;
      left: 14rem;
  }

  .email {
    background-color: #eebece;
    border: 0;
    border-radius: 30px;
    padding: .5rem;
  }

  .phone {
      padding-top: .4rem;
  }
  
  ul {
    text-decoration: none;
  }
  /* use this css to change the space between buttons */
   span {
     margin-right: .3rem;  
   }
  
   span:first-child {
    margin-left: 5.9rem;
   }
  
   .mat-icon {
     font-size: .9rem;
   }
  
   button {
     /* margin-left: 8rem; */
     position: absolute;
     top: 4rem;
     right: 1rem;
     border-radius: 10%;
   }
  
   button .mat-icon {
     font-size: 1.6rem !important;
   }
  
  /* .mat-card {
    margin-bottom: 12px;
  } */
   