<div>
    <div class="wrapper">
        <div class="container">
            <div class="fst">
                <h3 class="pt-4">User List</h3>
                <h4>More Details</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quaerat perferendis recusandae
                    ipsa
                    repudiandae, quae quasi impedit mollitia? Laborum ducimus temporibus rem excepturi molestiae,
                    corrupti
                    sit
                    maxime sint tempore in?
                    Nobis magni repellat reprehenderit voluptas voluptatem nostrum, minima itaque, sed nisi architecto
                    cumque
                    placeat sequi quidem error quas labore optio modi accusamus, facere rerum repellendus delectus iure?
                    Tempora, ipsam officia?
                </p>
            </div>

            <figure>
                <img src={{moreDetais.picture.large}} alt="">
            </figure>
            <div class="content">
                <h3>{{moreDetais.name.title}} {{moreDetais.name.first}} {{moreDetais.name.last}}</h3>
                <p>{{moreDetais.location.street.number}} {{moreDetais.location.street.name}},
                    {{moreDetais.location.state}}, {{moreDetais.location.country}}</p>
                <span class="email">
                    <!-- <button mat-flat-button color="accent"> <mat-icon>email</mat-icon> Accent</button> -->
                    <mat-icon>email</mat-icon> {{moreDetais.email}}
                </span>
                <p class="phone">
                    <mat-icon>phone</mat-icon> {{moreDetais.phone}}
                </p>
                <p class="cell">
                    <mat-icon>tty</mat-icon> {{moreDetais.cell}}
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="wrapper">
        <div class="container">
            <div class="fst">
                <h3 class="pt-4">User List</h3>
                <h4>More Details</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quaerat perferendis recusandae
                    ipsa
                    repudiandae, quae quasi impedit mollitia? Laborum ducimus temporibus rem excepturi molestiae,
                    corrupti
                    sit
                    maxime sint tempore in?
                    Nobis magni repellat reprehenderit voluptas voluptatem nostrum, minima itaque, sed nisi architecto
                    cumque
                    placeat sequi quidem error quas labore optio modi accusamus, facere rerum repellendus delectus iure?
                    Tempora, ipsam officia?
                </p>
            </div>

            <figure>
                <img src={{moreDetais.picture.large}} alt="">
            </figure>
            <div class="content">
                <h3>{{moreDetais.name.title}} {{moreDetais.name.first}} {{moreDetais.name.last}}</h3>
                <p>{{moreDetais.location.street.number}} {{moreDetais.location.street.name}},
                    {{moreDetais.location.state}}, {{moreDetais.location.country}}</p>
                <span class="email">
                    <!-- <button mat-flat-button color="accent"> <mat-icon>email</mat-icon> Accent</button> -->
                    <mat-icon>email</mat-icon> {{moreDetais.email}}
                </span>
                <p class="phone">
                    <mat-icon>phone</mat-icon> {{moreDetais.phone}}
                </p>
                <p class="cell">
                    <mat-icon>tty</mat-icon> {{moreDetais.cell}}
                </p>
            </div>
        </div>
    </div>
</div>