<div class="wrapper">
    <div class="container">
        <div class="fst">
            <h3 class="pt-4">Female List</h3>
            <p>Filter by</p>
        </div>
        <mat-form-field floatLabel="auto" appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select>
                <mat-option value="nigeria">Nigeria</mat-option>
                <mat-option value="america">America</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-slide-toggle>Hide Country</mat-slide-toggle>

        <mat-card>
            <mat-card-header *ngFor="let item of allUsers">
                <figure>
                    <img src="" alt="">
                </figure>
                <mat-card-title>{{ item.gender}} </mat-card-title>
                <mat-card-subtitle> <i>lllllllllllllllllllllll mmmmmmmmmmmmmmmmmmmmmmmm bbbbbbbbbbbbbbbbbbbbb </i>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span>
                    <mat-icon>email</mat-icon> kkkkkkkkkkkkk
                </span>
                <span>
                    <mat-icon>phone</mat-icon>kkkkkkkkkkkk
                </span>
                <button mat-mini-fab color="accent">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>

    </div>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>