<div class="main">
    <div class="wrapper">
        <div class="container-fluid">
            <p class="greeting">Hello, <span>Emerald</span></p>
            <p class="info">Welcome to your dashboard, kindly sort through the user base</p>
        </div>
    
        <form class="form-inline" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
            <input formControlName="searchItem" class="form-control" size="44"  type="search" placeholder="Find a user" aria-label="Search">
        </form>
       
        <p class="user mt-3">Show Users</p>
        <div class="example-button-container">
            <button mat-fab color="accent" aria-label="icon">
                <mat-icon>groups</mat-icon>
            </button>
            <small>All Users</small>
            <button mat-fab color="primary" aria-label="icon" (click)="male()">
                <mat-icon>groups</mat-icon>
            </button>
            <small>Male Users </small>
            <button mat-fab aria-label="icon" class="male" (click)="female()">
                <mat-icon>groups</mat-icon>
            </button>
            <small>Female Users</small>
        </div>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>

