<div class="wrapper">
    <div class="container">
        <div class="fst">
            <h3 class="pt-4">User List</h3>
            <p>Filter by</p>
        </div>
        <!-- (ngSubmit)="handleSearch()" -->
        <mat-form-field floatLabel="auto" appearance="standard"  [formGroup]="searchForm">
            <mat-label>Search</mat-label>
            <input matInput formControlName="search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select (change)="onSelectionChange($event)" formControlName="country">
                <div *ngFor="let item of allUsers">
                    <mat-option value="{{item.location.country}}">{{item.location.country}}</mat-option>

                </div>
                <!-- <mat-option value="america">America</mat-option> -->
            </mat-select>
        </mat-form-field>
        <mat-slide-toggle>Show Country</mat-slide-toggle>

        <mat-card *ngFor="let item of allUsers | filter: search1 | filter: searchTerm">
            <mat-card-header>
                <figure>                 
                    <img src='{{item.picture.medium}}' alt="">
                </figure>
                <mat-card-title>  {{item.name.first}} {{item.name.last}}</mat-card-title>
                <mat-card-subtitle> <i>{{item.location.street.number}} {{item.location.street.name}}, {{item.location.city}}, {{item.location.state}}, {{item.location.country}}
                </i>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span>
                    <mat-icon>email</mat-icon> {{item.email}}
                </span>
                <span>
                    <mat-icon>phone</mat-icon>{{item.email}}
                </span>
                <button mat-mini-fab color="accent">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>

    </div>
    
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>