.wrapper {
  width: 100%;
  height: 96vh;
  background-color: #f7f7ff;
  border-radius: 12px;
}

.container {
  padding-left: 3.4rem;
}
.fst {
  color: #000;

}
div h3 {
  font-weight: 700;
  font-size: 1.3rem;
}

.mat-form-field {
  color: #95959a;
  margin-right: 4rem;
}

.mat-slide-toggle {
  color: #95959a;
}

.mat-card {
  max-width: 650px;
}

figure {
  position: absolute;
  /* top: 1rem; */
  /* bottom: .0.7rem; */
  top: .7rem;
}

.mat-card-title, .mat-card-subtitle {
  margin-left: 5rem;
}

img {
  width: 4rem;
  border: 2px solid black;
  padding: 4px;
  border-radius: 60%;
}

ul {
  text-decoration: none;
}
/* use this css to change the space between buttons */
 span {
   margin-right: 2rem;  
 }

 span:first-child {
  margin-left: 6rem;
 }

 .mat-icon {
   font-size: .9rem;
 }

 button {
   margin-left: 10rem;
   border-radius: 10%;
 }

 button .mat-icon {
   font-size: 1.6rem !important;
 }

.mat-card {
  margin-bottom: 12px;
}
 